:root {
    --bg-color: #000;
    --ui-color: #fff;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

*:focus {
    outline: 0;
    box-shadow: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: fixed;
    background-color: var(--bg-color);
    color: var(--ui-color);
    -webkit-tap-highlight-color: transparent;
}
